.dateMain {
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 250px;
    background-color: azure;
}

.dateArrow {
    color: rgb(90, 90, 90);
    user-select: none;
    cursor: pointer;
}

.dateLeft {
    width: 300px;
    height: 100%;
    background-color: burlywood;
}

.dateRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    overflow: hidden;
    user-select: none;
}

.dateTime {
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
    background-color: darkkhaki;
}

.singleTime {
    width: 100%;
    text-align: center;
    font-size: 25px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.singleTime.selectedSingleTime {
    background-color: chartreuse;
}

.dateLeftTop {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.dateLeftTopBtn {
    color: rgb(90, 90, 90);
    user-select: none;
    cursor: pointer;
}

.dateLeftTopBtn:hover {
    color: rgb(0, 0, 0);
}

.dateLeftBottom {
    display: flex;
    flex-direction: column;
}

.dateDaysTable {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    user-select: none;
    width: 40px;
    height: 35px;
    border: 1px solid black;
}

.dateLeftWeek {
    display: flex;
}

