
.mainDiv {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.343)

}


.reserveBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
    background-color: brown;
    border-radius: 30%;
}

.reserveMainWindow {
    position: relative;
    width: 800px;
    height: 700px;
    background-color: chartreuse;
}

.reserveBtnSection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: aqua;
    position: absolute;
    bottom: 50px;
    user-select:none ;
    cursor: pointer;
}

.reserveShape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: blue;
    position: absolute;
    bottom: 10px;
}

.reserveLine {
    scale: 0.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 5px;
    background-color: azure;
    transition: all 1s ease-in-out;
}

.reserveBall {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;

}

.reserveFirstBall {
    background-color: black;
}
.reserveSecondBall {
    background-color: rgb(255, 255, 255);
}
.reserveThirdBall {
    background-color: rgb(255, 255, 255);
}
.reserveSecondBall.black {
    background-color: rgb(0, 0, 0);
}
.reserveThirdBall.black {
    background-color: rgb(0, 0, 0);
}

#reserveLineBlack{
    transition: all 1s ease-in-out;
    transition-delay: 1;
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    width: 0px;
    height: 5px;
}


