.dateMain {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 250px;
    background-color: #aed1ff;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.dateArrow {
    color: rgb(90, 90, 90);
    user-select: none;
    cursor: pointer;
}

.dateLeft {
    width: 300px;
    height: 100%;
    background-color: #aed1ff;
}

.dateRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    overflow: hidden;
    user-select: none;
    background-color: #d0e1f7;
    border-radius: 20px;
}

.dateTime {
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
    background-color: rgb(255, 255, 255);
}

.singleTime {
    width: 100%;
    text-align: center;
    font-size: 25px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.singleTime:hover {
    background-color:rgb(81, 185, 255);
}

.singleTime.selectedSingleTime{
    background-color: rgb(39, 158, 255);
}

.singleTime.selectedSingleTime:hover {
    background-color: rgb(39, 158, 255);
}

.dateLeftTop {
    margin-top: 5px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.dateLeftTopBtn {
    color: rgb(90, 90, 90);
    user-select: none;
    cursor: pointer;
}

.dateLeftTopBtnLeft {
    margin-left: 12px;
}
.dateLeftTopBtnRight {
    margin-right: 12px;
}

.dateLeftBottom {
    display: flex;
    flex-direction: column;
}

.dateDaysTable {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tag {
    user-select: none;
    width: 37px;
    height: 30px;
    border: 1px solid black;
    z-index: 10;
}

.tag:hover{
    background-color: rgb(81, 185, 255);
}

.tag.dateDaySelected:hover {
    background-color: rgb(39, 158, 255);
}

.dateLeftWeek {
    display: flex;
    justify-content: center;
}

.dateMonthList {
    transition: 1s all ease-in-out;
    user-select: none;
    text-align: center;
    top: 25px;
    left: 57px;
    width: 100px;
    background-color: rgb(0, 0, 255);
    position: absolute;
    height: auto;
    opacity: 1;
    z-index: 11;
}

.dateYearList {
    transition: 1s all ease-in-out;
    user-select: none;
    text-align: center;
    top: 25px;
    left: 167px;
    width: 70px;
    background-color: rgb(0, 255, 68);
    position: absolute;
    height: auto;
    opacity: 1;
    z-index: 11;
}

.dateDaySelected{
    background-color: rgb(64, 171, 64);
}

.dateGrey{
    background-color: grey;
}

.unActiveDay{
    background-color: rgb(220, 220, 220);
    cursor: default;
}

.tag.unActiveDay:hover {
    background-color: rgb(220, 220, 220);
}

.tag.weekDay {
    background-color: rgb(0, 149, 255);
}

.bottomPart {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -22px;
    width: 400px;
    height: 50px;
    background-color: #aed1ff;
    bottom: -50px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.1s all ease-in-out;
}

.btnCross {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 50px;
    height: 30px;
    cursor: pointer;
    margin-right:20px;
    color: rgb(100, 0, 0);
}

.btnCross:hover {
    color: rgb(200, 0, 0);
}

.btnCheck {
    margin-top: 20px;
    margin-bottom: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left:20px;
    color: rgb(0, 100, 13);
}

.btnCheck:hover {
    color: rgb(0, 200, 27);
}

.normalTag {
    background-color: white;
    cursor: pointer;
}

.normalTag.dateDaySelected {
    background-color: rgb(39, 158, 255);
}

@media screen and (max-width: 400px) {
    .allObject {
        position: fixed;
        scale: 0.6;
    }
    .bottomPart {
        right: -22px;
    }
    .dateRight {
        margin-right: 2px;
    }
}

@media screen and (max-width: 450px) {
    .allObject {
        position: fixed;
        scale: 0.6;
    }
    .bottomPart {
        right: -22px;
    }
    .dateRight {
        margin-right: 2px;
    }
}