.allComponentTitle{
    user-select: none;
}



.contactFormLine{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    height: 40px;
}

.contactFormLineAmountBox {
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin-right: 30px;
}

.contactFormList {
    background-color: white;
    width: 600px;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    user-select: none;
    animation-duration: 1s;
    animation-name: showContacts;
    animation-direction: alternate;
}


@keyframes showContacts {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

.contactFormLinePlusMinus {
    cursor: pointer;
}

.contactFormMain{
    display: flex;
    position: relative;
}

.contactFormSecond {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.contactFormSecond h3 {
    margin-bottom: 50px;
    animation-duration: 1s;
    animation-name: showContacts;
    animation-direction: alternate;
}
.contactFormSecond h5 {
    margin-bottom: 70px;
    font-size: 20px;
    animation-duration: 1s;
    animation-name: showContacts;
    animation-direction: alternate;
}

.contactFormSecond h4 {
    position: absolute;
    top: 100px;
    animation-duration: 1s;
    animation-name: showContacts;
    animation-direction: alternate;
}

.contactFormSecond h4.greenDishPrice {
    color: green;
}

.contactFormSecond h4.redDishPrice {
    color: red;
}
.allComponentTitleFirstPage {
    margin-top: 20px;
}
@media screen and (max-width: 400px) {
    .contactFormList {
        background-color: white;
        width: 100%;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        user-select: none;
    }
    .contactFormSecond {
        display: none;
    }
    .contactFormMain {
        height: calc(80% - 75px);
        justify-content: flex-start;
    }
    .allComponentTitleFirstPage {
        margin-top: 131px;
        margin-bottom: 40px;
    }
    .contactFormLineAmountBox {
        justify-content: right;
    }
    .contactFormLine {
        height: auto;
        margin-bottom: 30px;
    }
}


