.componentFirst {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 120px);
    overflow: scroll;
    padding-top: 100px;
}

.categoryTitle {
    font-size: 45px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.allDishes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 15px;
    justify-items: center;
    padding-bottom: -100px;
    margin-bottom: 40px;
}

img {
    height: 170px;
    border-radius: 20px;
}

.dishFormMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.dishForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.dishName {
    padding-top: 7px;
}
.dishBtnForm {
    display: flex;
    flex-direction: row;
    bottom: 5px;
    left: 130px;
    padding-left: 130px;
    padding-bottom: 5px;
    padding-top: 15px;
    user-select: none;
}
.dishBtnForm  > button {
    width: 25px;
    height: 25px;
    background-color: coral;
}
.dishBtnForm  > * {
    margin-left: 3px;
    margin-right: 3px;
}

@media screen and (max-width: 2000px) {
    .categoryTitle {
        font-size: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .allDishes{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1500px) {
    .allDishes{
        grid-template-columns: 1fr;
    }
    .categoryTitle {
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}


.dishFormMain{
    width: 640px;
    background-color: rgb(244, 244, 244);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.showedFoto {
    width: 700px;
    height: 400px;
    position: fixed;
    top: calc(50vh - 200px);
    z-index: 5;
    user-select: none;
    transition: 1s all ease-in-out;
    animation-duration: 500ms;
    animation-name: showContacts;
    animation-direction: alternate;
}
@keyframes showContacts {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}

.showedFotoContainer {
    display: flex;
    position: relative;
}

.backgroundFilterForDishFoto {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.dishBtn{
    font-size: 30px;
    width: 30px;
    text-align: center;
}
.dishFormCount {
    font-size: 30px;
}


@media screen and (max-width: 400px) {
    .categoryTitle {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .allDishes{
        grid-template-columns: 1fr 1fr;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .dishFormMain{
        position: relative;
        flex-direction: column;
        width: 151px;
        height: 198px;
        border-radius: 10px;
    }
    .dishFormMain > * {
        position: absolute;
    }
    .dishImg{
        top: 63px;
        height: 97px;
        width: 146px;
    }
    .dishName{
        width: 150px;
        margin: 0;
        padding: 0;
        top: 4px;
        left: -75px;
        font-size: x-small;
    }
    .dishBtnForm{
        left: -174px;
        bottom: 0px;
    }
    .dishBtn{
        font-size: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
    }
    .dishPrice{
        display: none;
    }
    .dishDescription{
        display: none;
    }
    .dishForm{
        position: relative;
    }
    .dishForm > * {
        position: absolute;
    }
    .showedFoto{
        display: none;
    }

}

.inputField {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 20px;
}

.inputField > * {
    margin-left: 20px;
    margin-right: 20px;
}
.firstInput {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dishDescription {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    cursor: default;
    user-select: none;
}

.dishName {
    font-weight: 700;
    text-align: center;
}

.dishFormCount {
    cursor: default;
}

.dishBtn {
    cursor: pointer;
}

.dishImg {
    cursor: zoom-in;
}



.dishPrice  {
    position: absolute;
    user-select: none;
    bottom: 5px;
    right: 20px;
    margin: 0;
}



.fotoAngle {
    position: absolute;
    scale: 2.5;
    z-index: 10;
    top: 190px;
    cursor: pointer;
    color: white;
    border: none;
}

.fotoAngleLeft {
    left: -30px;
}

.fotoAngleRight {
    right: -30px;
} 

.inputFieldReserveBtn {
    position: fixed;
    top: 30px;
    left: calc(50vw - 180px);
    z-index: 10;
    transition: 0.2s all ease-in-out;
    user-select: none;
    cursor: pointer;
    background-color: rgb(75, 162, 255);
    padding: 10px;
    border-radius: 20px;
}
@media screen and (max-width: 700px) {
    .dishFormMain{
        width: 395px;
    }
    .dishImg{
        height: 97px;
    }
    .dishBtnForm {
        padding-left: 58px;
    }
    .dishName {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 460px) {
    .categoryTitle {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .allDishes{
        grid-template-columns: 1fr 1fr;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .dishFormMain{
        position: relative;
        flex-direction: column;
        width: 185px;
        height: 198px;
        border-radius: 10px;
    }
    .dishFormMain > * {
        position: absolute;
    }
    .dishImg{
        top: 63px;
        height: 97px;
        width: 173px;
    }
    .dishName{
        width: 150px;
        margin: 0;
        padding: 0;
        top: 4px;
        left: -75px;
        font-size: 16px;
    }
    .dishBtnForm{
        left: -174px;
        bottom: -5px;
        padding-left: 130px;
    }
    .dishBtn{
        font-size: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
    }
    .dishPrice{
        display: none;
    }
    .dishDescription{
        display: none;
    }
    .dishForm{
        position: relative;
    }
    .dishForm > * {
        position: absolute;
    }
    .showedFoto{
        display: none;
    }
}
  

@media screen and (max-width: 400px) {
    .inputFieldReserveBtn {
        position: fixed;
        top: 27px;
        left: -12px;
    }
    .dishImg {
        cursor: default;
    }
    .dishName {
        font-size: 16px;
    }
  }

@keyframes navMapAnimation {
    0% {transform: scale(0.97)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
  }
.inputFieldReserveBtn:hover {
        animation-name: navMapAnimation;
        animation-iteration-count: 1;
        animation-duration: 0.3s;
}

.nothingFoundWarning {
    text-align: center;
    width: 100%;
    height: 100%;
}

.warningForInput {
    padding-top: calc(33vh);
}







