.myCanvas {
    width: 600px;
    height: 400px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scale: 0.7;
    border-radius: 30px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.tableNumber {
    font-size: 30px;
    user-select: none;
}

.welcome {
    user-select: none;
    padding-top: 20px;
    font-size: 40px;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: green;
    margin: 10px;
    border-radius: 20%;
    cursor: pointer;
}

.tableFree {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 20%;
}

.tableSelected {
    background-color: yellow;
}

.tableOccupied {
    background-color: grey;
}

.allComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: rgb(92, 82, 78);
}

.allComponentTitle {
    margin-top: 20px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.firstColumn {
    width: 100%;
    background-color: aqua;
}

.secondColumn {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(162, 56, 18, 0.937);
    width:500px;
}

.reservationInput {
    width: 250px;
    height: 50px;
    font-size: 35px;
}