.myCanvas {
    width: 600px;
    height: 400px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scale: 0.7;
    border-radius: 30px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.tableNumber {
    font-size: 30px;
    user-select: none;
}

.welcome {
    user-select: none;
    padding-top: 20px;
    font-size: 40px;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: green;
    margin: 10px;
    border-radius: 20%;
    cursor: pointer;
}

.tableFree {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 20%;
}

.tableSelected {
    background-color: yellow;
}

.tableOccupied {
    background-color: grey;
}

.allComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: rgb(92, 82, 78);
}

.allComponentTitle {
    margin-top: 20px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.firstColumn {
    width: 100%;
    background-color: aqua;
}

.firstColumn h3{
    text-align: center;
}

.secondColumn {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(162, 56, 18, 0.937);
    width:500px;
}

.reservationInput {
    width: 250px;
    height: 50px;
    font-size: 35px;
}

.phoneBox {
    position: relative;
}

.numberBall {
    position: absolute;
    transition: 0.9s all ease-in-out;
    left: 5px;
    font-size: 20px;
    user-select: none;
    border: 2px solid black;
    width: 0px;
    pointer-events: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0;
}

.numberBall.opened {
    width: 220px;
    height: 25px;
    border-radius: 0%;
    cursor: pointer;
    opacity: 1;

}

.inputPhoneNumber{
    position: absolute;
    color: rgb(0, 31, 134);
    opacity: 0;
    z-index: 10;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    cursor: pointer;
}

.inputPhoneNumber.opened {
    cursor: default;
    z-index: 20;
    width: 223px;
    border-radius: 0%;
}

.phoneIcon {
    position: absolute;
    pointer-events: none;
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 50%;
    z-index: 50;
    transition: 0.7s all ease-in-out;
    left: 5px;
}

.phoneIcon.opened {
    left: 230px;
}

.nameInput {
    border: 2px solid black;
    margin-left: 5px;
    width: 223px;
    height: 25px;
    margin-bottom: 20px;
}

.firstColumn h3 {
    margin-bottom: 20px;
}

.firstColumn h4 {
    margin-bottom: 20px;
}

.guestsNumber{
    border: 2px solid black;
    margin-left: 5px;
    width: 223px;
    height: 25px;
    margin-top: 100px;
}

.titleQuestsNumber{
    position: absolute;
    top: 240px;
}